.new-post-page > .header {
    background-image: url(../assets/banner.jpeg);
    background-size: cover;
    background-position: center;
}

.header-container {
    text-align: center;
}
form > * {
    display: block;
    font-size: 18px;
    margin-top: 16px;
}

#form-post-title {
    width: calc(100% - 8px);
}

#form-post-title, #form-post-content {
    border: 1px solid #ced4da;
    padding: 8px;
    border-radius: 5px;
    color: #495057;
}

#form-post-content {
    width: calc(100% - 8px);
    min-width: calc(100% - 8px);;
    max-width: calc(100% - 8px);;
    min-height: 300px;
}

#form-post-submit {
    background-color: #004186;
    border-color: #004186;
    color: white;
    padding: .375rem .75rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#form-post-submit:hover {
    background-color: #002349;
}


.post-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-navigation a {
    text-decoration: none;
    border: 1px solid #004186;
    border-radius: 5px;
    color: #004186;
    padding: 5px 8px;
}

.post-navigation > .error {
    color: red;
}




